@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #25272E;
    color: white;
    font-family: Asap, sans-serif;

}

header {
    background: white;
    padding: 20px
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: White;
    cursor: pointer;
}

.btn {
    border: 3px solid white;
    border-radius: 4px;
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #25272E;
    text-align: center;
    font-size: 20px;
    font-family: Asap, sans-serif;
    opacity: 0.7;
    transition: opacity .2s;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
}
